<html>
  <head>
  </head>
  <body>
    <h1>Users</h1>

    <form action="/users" method="post" class="form-example">
      <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="firstName" id="firstName" required>
      </div>
      <div class="form-example">
        <label for="name">Enter your last name: </label>
        <input type="text" name="lastName" id="lastName" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Sign up">
      </div>
    </form> 

    <form action="/search">
      <div class="form-example">
        <label for="search by first name">Search by first name: </label>
        <input type="text" name="firstNameLike" id="firstNameLike">
      </div>
      <div class="form-example">
        <input type="submit" value="Search">
      </div>
    </form>

    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>CreateAt</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td>
              <form action="/users/<%= user.id %>" method="POST">
                <input type="checkbox" name="checkStatus" value="checked" <%= user.done ? 'checked=checked' : '' %>>
                <input type="submit" value="Submit">
              </form>
            </td>
            <td><%= user.id %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.reg_date %></td>
            <td>
              <form action="/users/<%= user.id %>" method="POST">
                <input type="text" name="firstName">
                <input type="text" name="lastName">
                <input type="submit" value="Submit">
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
