<html>
  <head>
    <title> &ensp; Todo </title>
    <link rel="icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <link rel="stylesheet" href="static/todo.css">
  </head>
  <body>
    <header>
      <div>
        <%= userInfo.username %> 
      </div>
    </header>
    <ul>
      <h1> todo </h1>

      <form action="/todo" method="POST" class="addForm">

        <div class="name">
          <input type="text" name="taskName" id="taskName" placeholder="&nbsp; task name" required>
        </div>

        <div class="description">
          <input type="text" name="taskDescription" id="taskDescription" placeholder="&nbsp; description (optional)">
        </div>

        <button type="submit" id="addTask" class="addTask">
          <img src="https://i.ibb.co/TTfdZpc/plus.png" border="0" width="20" height="20" class="plus">
          &emsp;
          <h2>Add task</h2>
        </button>
        
      </form>
    </ul>
    <table border='1' class='table'>
      <thead>
        <th></th>
        <th>name</th>
        <th>description</th>
        <th>checked?</th>
      </thead>
      <tbody>
        <% tasks.forEach(task => { %>
          <tr>
            <td class="checkbox">
              <form action="/todo/<%= task.id %>" method="POST">
                <input type="checkbox" name="checkbox" value="checked" 
                  <% if (task.status == "finished") {%> 
                    <%= 'checked=checked' %> 
                  <%} else  {%> 
                    <%= '' %> 
                  <%} %> 
                  onChange="this.form.submit()">
              </form>
            </td>
            <td><%= task.taskName %></td>
            <td><%= task.taskDescription %></td>
            <td class="<%= task.status %>"> <%= task.status %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
