<html>
  <head>
  </head>
  <body>
    <h1>Users</h1>

    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="form-example">
        <label for="email">Enter your password: </label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Sign up">
      </div>
    </form> 

    <table border="1">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>User</th>
          <th>Status</th>
          <th>CreateAt</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td>
              <form action="/users/<%= user.id %>" method="POST">
                <input type="checkbox" name="checkStatus" value="checked" <%= user.done ? 'checked=checked' : '' %>>
                <input type="submit" value="Submit">
              </form>
            </td>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.done %></td>
            <td><%= user.createdAt %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
